@tailwind base;
@tailwind components;
@tailwind utilities;

.bgpattern{
  background:url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAHpJREFUKFNtkLENgDAMBPM1dFBSwB407MAC9OwMA0AHtZEtOfqYpIr+z/bbGJZNxq5J/s77tW/UMK+7MOSAFjCcwWhoMWsGshBHuwfOqOLUt0lEim6qZzBXAhaZYQN5NIB0XI+BsbOBDuiWnPG3DJ+nllH9Yhk/Se3gH7cBaeFIb4HbAAAAAElFTkSuQmCC
  )
}

.banner {
  position: absolute;
  left: 50%;
  display: block;
  margin: 100px -200px;
  width: 400px;
  height: 60px;
  border: 1px solid #8a1;
  font: normal 30px/60px 'Rye';
  text-align: center;
  color: #451;
  background: #9b2;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
      				0 6px 10px rgba(0,0,0,.15);
}

